<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
  <div class="content container-fluid">


    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">{{users_user_title}}</h4>
        <p>Total: {{totalList}}</p>
      </div>
      <div class="col-xs-8 text-right m-b-30" >
        <a href="javascript:" class="btn btn-primary" (click)="addReset()"><i class="fa fa-plus"></i>
          {{users_add_user}}</a>
      </div>
    </div>
    <!-- <div class="row" *ngIf="scan">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Scan!</strong> {{scanResults}}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="showSuccessMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Success!</strong> {{userAdded}}
        </p>
      </div>
    </div> -->

    <div class="modal-body">

      <form novalidate>

        <div class="row filter-row">

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_full_name}}</label>
              <input type="text" class="form-control floating"  name="full_name"
>
            </div>
          </div>

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_nickname}}</label>
              <input type="text" class="form-control floating" name="nickname"
              >
            </div>
          </div>

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_company_name}}</label>
              <select class="select floating form-control" name="company_name"
            >
                <option value=""></option>
                <option value="Client">Client</option>
      
                <option value="Others">Others</option>
              </select>
            </div>
          </div>

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_user_level}}</label>
              <select class="select floating form-control" name="user_level"
              >
                <option value="All User Levels">All User Levels</option>
                <option value="Super Admin">Super Admin</option>
                <option value="PLA Admin">PLA Admin</option>
                <option value="PLA Frontdesk">PLA Frontdesk</option>
                <option value="PLA Supervisor">PLA Supervisor</option>
                <option value="PD Admin">PD Admin</option>
                <option value="PD Frontdesk">PD Frontdesk</option>
                <option value="PD Supervisor">PD Supervisor</option>
                <option value="PD Management">PD Management</option>
                <option value="CON Admin">CON Admin</option>
                <option value="CON Supervisor">CON Supervisor</option>
                <option value="CON Crew">CON Crew</option>
              </select>
            </div>
          </div>

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_property_developer}}</label>
              <select class="select floating form-control" 
                name="property_developer" >
                <option value=""></option>
                <option value="ProperLy">ProperLy </option>
              
                <option value="All Clients">All Clients</option>
              </select>
            </div>
          </div>

          <div class="col-sm-3 col-md-2 col-xs-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">{{users_prefered_language}}</label>
              <select class="select floating form-control" name="language">
                <option value=""></option>
                <option value="English">English</option>
                <option value="English">Urdu</option>
                <option value="English">MAlaysia</option>
              </select>
            </div>
          </div>

          <div class="wrapper">
            <button class="btn btn-success pull-right" >{{generals_clear_search}}</button>
            <button class="btn btn-success pull-right" style="display:inline-block;margin-bottom:4px;margin-right:4px"
              type="submit">{{generals_search}}</button>

          </div>

        </div>

      </form>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th style="width: 10%">{{users_status}}</th>
                <th style="width: 30%">{{users_username}}</th>
                <th style="width: 10%">{{users_nickname}}</th>
                <th style="width: 10%">{{users_full_name}}</th>
                <th style="width: 10%">{{users_telephone}}</th>
                <th style="width: 20%">{{users_email}}</th>
                <th style="width: 10%">{{users_company_name}}</th>
                <th style="width: 10%">{{users_property_developer}}</th>
                <th style="width: 10%">{{users_designation}}</th>
                <th style="width: 10%">{{generals_actions}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of rows">
                <td>
                  <span [ngClass]="{
                    'label-success-border': item.status == 'Confirmed',
                    'label-danger-border': item.status == 'Unconfirmed',
                    'label-info-border': item.status == ''
                  }" class="label">{{item.status}}</span>
                </td>
                <td>
                  <a href="javascript:" class="avatar">{{item.user_name}}</a>
                  <h2><a style="cursor:pointer;" (click)="view()">{{item.user_name}} <span>{{item.user_level}}</span></a></h2>
                </td>
                <td>{{item.nickname}}</td>
                <td>{{item.full_name}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.company_name}}</td>
                <td>{{item.property_developer}}</td>
                <td>{{item.designation}}</td>
                <td class="text-right">
                  <div class="dropdown">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li >
                        <a href="javascript:" (click)="onEdit(item);" >
                          <i class="fa fa-pencil m-r-5"></i> {{generals_edit}}
                        </a>
                      </li>
                      <li >
                        <a href="javascript:" title="Delete" (click)="onDelete();">
                          <i class="fa fa-trash-o m-r-5"></i> {{generals_delete}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <!-- Implement pagination manually if needed -->
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    
    


    <div  id="view_user" class="modal custom-modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="page-title"><a data-dismiss="modal" style="cursor:pointer;">{{users_user_title}}</a> /
                    {{viewU.id}}
                  </h4>
                </div>
                <div class="col-sm-4 text-right m-b-30">
                  <!-- <a class="btn btn-primary rounded" (click)="editView(viewU.projectID)"><i class="fa fa-plus"></i> Edit Project</a> -->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="panel">
                    <div class="panel-body">
                      <div class="project-title">
                        <h5 class="panel-title">{{viewU.user_name}}</h5>
                        <small class="block text-ellipsis m-b-15">
                          <span class="text-xs"></span> <span class="text-muted"> {{viewU.designation}}</span>
                        </small>
                      </div>
                      <!-- <p>{{viewU.remarks}}</p> -->
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="panel">
                      <div class="panel-body">
                        <h6 class="panel-title m-b-15">{{generals_view_details}}</h6>
                        <table class="table table-striped table-border">
                          <tbody>
                            <tr>
                              <td>{{users_user_id}}:</td>
                              <td class="text-right">{{viewU.id}}</td>
                            </tr>
                            <tr>
                              <td>{{users_username}}:</td>
                              <td class="text-right">{{viewU.user_name}}</td>
                            </tr>
                            <tr>
                              <td>{{users_full_name}}:</td>
                              <td class="text-right">{{viewU.full_name}}</td>
                            </tr>
                            <tr>
                              <td>{{users_email}}:</td>
                              <td class="text-right">{{viewU.email}}</td>
                            </tr>
                            <tr>
                              <td>{{users_password}}:</td>
                              <td class="text-right">{{viewU.password}}</td>
                            </tr>
                            <tr>
                              <td>{{users_gender}}:</td>
                              <td class="text-right">{{viewU.gender}}</td>
                            </tr>
                            <tr>
                              <td>{{users_user_level}}:</td>
                              <td class="text-right">{{viewU.user_level}}</td>
                            </tr>
                            <tr>
                              <td>{{users_property_developer}}:</td>
                              <td class="text-right">{{viewU.property_developer}}</td>
                            </tr>
                            <tr>
                              <td>{{users_company_type}}:</td>
                              <td class="text-right">{{viewU.company_type}}</td>
                            </tr>
                            <tr>
                              <td>{{users_company_name}}:</td>
                              <td class="text-right">{{viewU.company_name}}</td>
                            </tr>
                            <tr>
                              <td>{{users_telephone}}:</td>
                              <td class="text-right">{{viewU.telephone}}</td>
                            </tr>
                            <tr>
                              <td>{{users_designation}}:</td>
                              <td class="text-right">{{viewU.designation}}</td>
                            </tr>
                            <tr>
                              <td>{{users_prefered_language}}:</td>
                              <td class="text-right">{{viewU.language}}</td>
                            </tr>
                            <tr>
                              <td>{{users_status}}:</td>
                              <td class="text-right">{{viewU.status}}</td>
                            </tr>
                            <tr>
                              <td>{{users_nickname}}:</td>
                              <td class="text-right">{{viewU.nickname}}</td>
                            </tr>
                            <tr>
                              <td>{{users_date_of_birth}}:</td>
                              <td class="text-right">{{viewU.date_of_birth}}</td>
                            </tr>
                            <tr>
                              <td>{{generals_creation_date}}:</td>
                              <td class="text-right">{{viewU.date_created}}</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </div>


                  </div>

                  <div class="panel">
                    <div class="panel-body">
                      <h5 class="panel-title m-b-20">{{generals_uploaded_images}}</h5>
                      <div class="row">
                        <div class="col-md-3 col-sm-6">
                          <div class="thumbnail">
                            <div class="thumb">
                              <img src="{{profile_pic}}" class="img-responsive" alt="">
                            </div>
                            <!-- <div class="caption text-center">
                              Profile Picture
                            </div> -->
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div id="add_user" class="modal custom-modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog" style="margin-left: 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
          <div class="modal-header">
            <h4 class="modal-title">{{users_add_user}}</h4>
          </div>
          <div class="row" *ngIf="showErrorMsg">
            <div class="col-xs-12">
              <p class="alert alert-success">
                <strong>Error!</strong> {{userAdded}}
              </p>
            </div>
          </div>
          <div class="modal-body">
            <form class="m-b-30"  novalidate>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_user_id}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="id" readonly >
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>{{users_property_developer}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control"  name="property_developer"  required>
                      <option value=""></option>
                      <option value="ProperLy">ProperLy</option>
                      <option value="Developer1">Developer1</option>
                      <option value="Developer2">Developer2</option>
                      <option value="Developer3">Developer3</option>
                    </select>
                  </div>
                </div>
                

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_nickname}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="nickname" required>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_full_name}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="full_name"  required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_password}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="password" name="password"  required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_confirm_password}}<span
                        class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="password" name="confirm_password"
                 required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_username}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="user_name"required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_gender}}</label>
                    <select class="select form-control"  name="gender">
                      <option value=""></option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
                

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_email}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="email" 
                      required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{users_date_of_birth}}</label>
                    <input class="form-control" type="date" name='date_of_birth'
             >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_telephone}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="telephone" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_company_type}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control" name="company_type"  required>
                      <option value="ProperLy">ProperLy</option>
                      <option value="Client">Client</option>
                      <option value="Contractor">Contractor</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <div style="float: right;" *ngIf="typeofunitload">
                      <label>Loading...</label>
                    </div>
                    <label>{{users_user_level}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control"  name="user_level"  required>
                      <option value=""></option>
                      <option value="Admin">Admin</option>
                      <option value="Editor">Editor</option>
                      <option value="Viewer">Viewer</option>
                      <option value="Guest">Guest</option>
                    </select>
                  </div>
                </div>
                




                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_designation}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="designation"  required>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_company_name}}</label>
                    <select class="select floating form-control" name="company_name" >
                      <option value=""></option>
                      <option value="Client">Client</option>
                      <option value="Contractor A">Contractor A</option>
                      <option value="Contractor B">Contractor B</option>
                      <option value="Contractor C">Contractor C</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>
                

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_status}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="status" readonly >
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_prefered_language}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select floating form-control" name="language" required>
                      <option value=""></option>
                      <option value="English">English</option>
                      <option value="Spanish">Spanish</option>
                      <option value="French">French</option>
                      <option value="German">German</option>
                      <option value="Chinese">Chinese</option>
                    </select>
                  </div>
                </div>
                

              </div>
              <div class="form-group">
                <label>{{users_upload_picture}} </label>
                <input class="form-control" type="file" ng2FileSelect accept=".png, .jpeg"
                />
              </div>
              <div class="m-t-20 text-center">
                <div *ngIf="passwordsMismatch" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Passwords Doesn't Match.
                </div>
              </div>
              <div class="m-t-20 text-center">
                <div *ngIf="addUserValidation" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Must Fill all Mandatory Fields.
                </div>
              </div>

              <div class="m-t-20 text-center">
                <button class="btn btn-primary" type="submit">{{users_create_user}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <div id="edit_user" class="modal custom-modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
          <div class="modal-header"style="padding: 20px;">
            <h4 class="modal-title">{{users_edit_user}}</h4>
          </div>

          <div class="modal-body"style="padding: 20px;">
            <form class="m-b-30"  novalidate>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_user_id}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="id" readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_username}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="user_name"  required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_full_name}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="full_name"  required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_nickname}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="nickname"  required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_password}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="password" name="password"  required readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_confirm_password}}<span
                        class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="password" name="confirm_password"
                      required readonly>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_gender}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control" name="gender" 
                      required>
                      <option *ngFor="let genderOptions of genderOptions">
                        {{genderOptions}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_email}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="email" 
                      required readonly>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>{{users_date_of_birth}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="date" name='date_of_birth'
                 required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_telephone}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="telephone" 
                    required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_company_type}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control" name="company_type" 
                   required>
                      <option value="ProperLy">ProperLy</option>
                      <option value="Client">Client</option>
                      <option value="Contractor">Contractor</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div style="float: right;" *ngIf="typeofunitload">
                      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </div>
                    <label>{{users_user_level}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control" name="user_level" required>
                      <option value=""></option>
                      <option value="Admin">Admin</option>
                      <option value="Editor">Editor</option>
                      <option value="Viewer">Viewer</option>
                    </select>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>{{users_property_developer}}<span class="text-danger m-l-5">*</span></label>
                    <select class="select form-control" 
                    name="property_developer" 
                      required>
                      <option value=""></option>
                      <option value="ProperLy">ProperLy</option>
                      <option *ngFor="let AllPd of AllPd">
                        {{AllPd}}
                      </option>
                    </select>
                  </div>
                </div>


                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_designation}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="designation" 
                     required>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_company_name}}</label>
                    <select class="select floating form-control" name="company_name"
                      >
                      <option value=""></option>
                      <option value="Client">Client</option>
                      <option *ngFor="let AllContractors of AllContractors">
                        {{AllContractors}}
                      </option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_status}}<span class="text-danger m-l-5">*</span></label>
                    <input class="form-control" type="text" name="status" readonly>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">{{users_prefered_language}}<span
                        class="text-danger m-l-5">*</span></label>
                    <select class="select floating form-control" name="language" required>
                      <option value=""></option>
                      <option value="English">English</option>
                      <option *ngFor="let languages of languages">
                        {{languages}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label>{{users_upload_picture}} </label>
                <input class="form-control" type="file" ng2FileSelect accept=".png, .jpeg"
                   />
              </div>
              <div class="panel">
                <div class="panel-body">
                  <h5 class="panel-title m-b-20">Uploaded image</h5>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="thumbnail">
                        <div class="thumb">
                          <img src="{{profile_pic}}" class="img-responsive" alt="">
                        </div>
                        <div class="caption text-center">
                          Profile Picture
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="m-t-20 text-center">
                <div *ngIf="passwordsMismatch" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Passwords Doesn't Match.
                </div>
              </div>
              <div class="m-t-20 text-center">
                <div *ngIf="addUserValidation" class="alert alert-info m-t-10">
                  <strong>Warning!</strong> Must Fill all Mandatory Fields.
                </div>
              </div>
              <div class="row" *ngIf="showMsgUpdate">
                <div class="col-xs-12">
                  <p class="alert alert-success">
                    <strong>Success!</strong> {{userUpdated}}
                  </p>
                </div>
              </div>
              <div class="m-t-20 text-center">
                <button class="btn btn-primary" type="submit">{{users_update_user}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div id="delete" class="modal custom-modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content modal-md">
          <div class="modal-header">
            <h4 class="modal-title">Delete</h4>
          </div>
          <form (ngSubmit)="deleteConfirmation()">
            <div class="modal-body card-box">
              <p>Are you sure you want to DELETE this??</p>

              <div class="m-t-20"> <a href="javascript:" class="btn btn-warning" data-dismiss="modal">No</a>
                <button type="submit" style="margin: 5px;"  class="btn btn-danger">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="delete_result" class="modal custom-modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content modal-md">
          <div class="modal-header">
            <h4 class="modal-title">Delete</h4>
          </div>
          <form (ngSubmit)="deleteResult()">
            <div class="modal-body card-box">
              <p>{{delete_results}}</p>

              <div class="m-t-20">
                <button type="submit" style="margin: 5px;" class="btn btn-success">Okay</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>






  </div>
</div>