.project-title,.title-projects{
    cursor:pointer;
}

.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
  
  }
  .dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #f5f5f5;
  }
  .dropdown-menu li {
    padding: 8px 12px;
  }