<app-header></app-header>
<app-sidebar></app-sidebar>
  <div class="content container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <h4 class="page-title">Priority</h4>
      <p>Total: {{totalList}}</p>
    </div>

    <!-- <input type="file" style="display: inline-block;" (change)="onFileUpload($event)" placeholder="Upload file" accept=".xlsx">
    <div class="row" *ngIf="uploadFile">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Uploading!</strong> {{Results}}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="showSuccessMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Success!</strong> {{RecordAdded}}
        </p>
      </div>
    </div> -->

    <div class="col-xs-4 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary pull-right" (click)="addReset()"><i class="fa fa-plus"></i>
        Add Priority</a>
    </div>
  </div>
  <div class="row" *ngIf="scan">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Scan!</strong> {{scanResults}}
      </p>
    </div>
  </div>


  <div class="modal-body">
    <form #searchForm="ngForm"  novalidate>
      <div class="row filter-row">

        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Client</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.property_developer"
              name="property_developer" #property_developer="ngModel" />
          </div>
        </div>

        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Type Of Unit</label>
            <input type="text" class="form-control floating"  [(ngModel)]="searchT.type_of_unit" name="type_of_unit"
              #type_of_unit="ngModel" />
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Location</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.location" name="location"
              #location="ngModel" />
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Element</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.element" name="element"
              #element="ngModel" />
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Defect</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.defect" name="defect"
              #defect="ngModel" />
          </div>
        </div>

        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Competency</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.competency" name="competency"
              #competency="ngModel" />
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Days To Execute</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.days_to_execute" name="days_to_execute"
              #days_to_execute="ngModel" />
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-6">
          <div class="form-group form-focus select-focus">
            <label class="control-label">Priority</label>
            <input type="text" class="form-control floating" [(ngModel)]="searchT.priority" name="priority"
              #priority="ngModel" />
          </div>
        </div>
        <div class="wrapper">
          <button class="btn btn-success pull-right" >Clear Search</button>
          <button class="btn btn-success pull-right" style="display:inline-block;margin-right:4px" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th style="width: 20%">Client</th>
              <th style="width: 10%">Type of Unit</th>
              <th style="width: 10%">Location</th>
              <th style="width: 10%">Element</th>
              <th style="width: 10%">Defect</th>
              <th style="width: 10%">Competency</th>
              <th style="width: 10%">Days To Execute</th>
              <th style="width: 10%">Priority</th>
              <th style="width: 0.1%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.property_developer}}</td>
              <td>{{item.type_of_unit}}</td>
              <td>{{item.location}}</td>
              <td>{{item.element}}</td>
              <td>{{item.defect}}</td>
              <td>{{item.competency}}</td>
              <td>{{item.days_to_execute}}</td>
              <td>{{item.priority}}</td>
              <td class="text-right">
                <div class="dropdown">
                  <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:" title="Edit" (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                    <li><a href="javascript:" title="Delete" (click)="onDelete()"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9">
                <!-- Paginator component or placeholder if needed -->
                <!-- <mfBootstrapPaginator></mfBootstrapPaginator> -->
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  
</div>

<div id="delete_type_of_unit" class="modal custom-modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Leave Type</h4>
      </div>
      <div class="modal-body card-box">
        <p>Are you sure you want to DELETE this??</p>
        <div class="m-t-20 text-left">
          <a href="javascript:" class="btn btn-default" data-dismiss="modal">Close</a>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="delete" class="modal custom-modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
      </div>
      <form (ngSubmit)="deleteConfirmation()">
        <div class="modal-body card-box">
          <p>Are you sure you want to DELETE this??</p>

          <div class="m-t-20"> <a href="javascript:" class="btn btn-warning" data-dismiss="modal">No</a>
            <button type="submit" style="margin: 5px;" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="delete_result" class="modal custom-modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
      </div>
      <form (ngSubmit)="deleteResult()">
        <div class="modal-body card-box">
          <p>{{delete_results}}</p>

          <div class="m-t-20">
            <button type="submit" style="margin: 5px;" class="btn btn-success">Okay</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="add_priority" class="modal custom-modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-md">
      <div class="modal-header" style="padding: 20px;">
        <h4 class="modal-title">Add Priority</h4>
      </div>
      <div class="modal-body"style="padding: 20px;">
        <form #addForm="ngForm" >
          <div class="form-group">
            <label>{{led_cause_property_developer}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.property_developer" name="property_developer"
          #property_developer="ngModel" required>
              <option value=""></option>
              <option *ngFor="let AllPd of AllPd">
                {{AllPd}}
              </option>
              <option value="Tanah Makmur KotaSAS Sdn Bhd">Tanah Makmur KotaSAS Sdn Bhd</option>

            </select>
          </div>


          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="typeofunitload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_type_of_unit}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.type_of_unit" name="type_of_unit" #type_of_unit="ngModel"
              required>
              <option *ngFor="let typeOfUnit of typeOfUnit">
                {{typeOfUnit.type_of_unit}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="locationload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_location}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.location" name="location" #location="ngModel"
              required>
              <option *ngFor="let locations of locations">
                {{locations.location}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="elementload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_element}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.element"  name="element" #element="ngModel"
              required>
              <option *ngFor="let elements of elements">
                {{elements.element}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="defectLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_defect}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.defect" name="defect" #defect="ngModel"
              required>
              <option *ngFor="let defects of defects">
                {{defects.defect}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="competencyLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_competency}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.competency"  name="competency" #competency="ngModel"
              required>
              <option *ngFor="let competencys of competencys">
                {{competencys.competency}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="daysToExecuteLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_days_to_execute}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="addLT.days_to_execute" name="days_to_execute" #days_to_execute="ngModel"
              required>
              <option *ngFor="let days_to_executes of days_to_executes">
                {{days_to_executes.days_to_execute}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>{{led_cause_priority}}<span class="text-danger">*</span></label>
            <input class="form-control" type="text" #priority='ngModel' name='priority' [(ngModel)]='addLT.priority' required>
          </div>

          <div class="m-t-20 text-center">
            <button class="btn btn-primary">Add Days To Execute</button>
          </div>
          <div *ngIf="addPriorityValidation" class="alert alert-info m-t-10">
            <strong>Warning!</strong> Must Fill all Mandatory Fields.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div id="Edit_modal" class="modal custom-modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-md">
      <div class="modal-header" style="padding: 20px;">
        <h4 class="modal-title">Edit Priority</h4>
      </div>


      <div class="modal-body"style="padding: 20px;">
        <form #editForm="ngForm" >

          
          <div class="form-group">
            <label>{{led_cause_property_developer}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.property_developer" name="property_developer"
      #property_developer="ngModel" required>
              <option value=""></option>
              <option *ngFor="let AllPd of AllPd">
                {{AllPd}}
              </option>
              <option value="Tanah Makmur KotaSAS Sdn Bhd">Tanah Makmur KotaSAS Sdn Bhd</option>
            </select>
          </div>


          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="typeofunitload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_type_of_unit}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.type_of_unit"  name="type_of_unit" #type_of_unit="ngModel"
              required>
              <option *ngFor="let typeOfUnit of typeOfUnit">
                {{typeOfUnit.type_of_unit}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="locationload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_location}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.location" name="location" #location="ngModel"
              required>
              <option *ngFor="let locations of locations">
                {{locations.location}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="elementload">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_element}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.element"  name="element" #element="ngModel"
              required>
              <option *ngFor="let elements of elements">
                {{elements.element}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="defectLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_defect}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.defect"  name="defect" #defect="ngModel"
              required>
              <option *ngFor="let defects of defects">
                {{defects.defect}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="competencyLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_competency}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.competency"  name="competency" #competency="ngModel"
              required>
              <option *ngFor="let competencys of competencys">
                {{competencys.competency}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <!-- <div style="float: right;" *ngIf="daysToExecuteLoad">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
              </div> -->
            <label>{{led_cause_days_to_execute}}<span class="text-danger m-l-5">*</span></label>
            <select class="select form-control" [(ngModel)]="uptLT.days_to_execute" name="days_to_execute" #days_to_execute="ngModel"
              required>
              <option *ngFor="let days_to_executes of days_to_executes">
                {{days_to_executes.days_to_execute}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>{{led_cause_priority}}<span class="text-danger">*</span></label>
            <input class="form-control" type="text" #priority='ngModel' name='priority' [(ngModel)]='uptLT.priority' required>
          </div>

            <div class="form-group">
              <input class="form-control" type="hidden" [(ngModel)]="uptLT.id" name="id"
                #id="ngModel">
            </div>

          <div class="m-t-20 text-center">
            <button class="btn btn-primary">Update Priority</button>
          </div>
          <div *ngIf="addPriorityValidation" class="alert alert-info m-t-10">
            <strong>Warning!</strong> Must Fill all Mandatory Fields.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
